#PHP modules
php_modules: [ 'php', 'php-mysql', 'php-gd', 'php-cli', 'php-common', 'php-fpm' ]

#MySQL Packages
sql_packages: [ 'mariadb-server', 'mariadb-client' , 'python3-mysqldb' ]

#MySQL Settings
mysql_root_password: "{{ db_pass }}"
mysql_db: "{{ db_name }}"
mysql_user: "{{ db_user }}"
mysql_password: "{{ db_pass }}"
db_host: "{{ rds_info.instance.endpoint }}"
 
# Nginx Configuration
ssl_dir: /etc/nginx/ssl
http_port: "80"